:root {
  --bg-color: #0d162f;
  --orange-color: #fa6854;
  --gradient-orange-color: linear-gradient(
    90deg,
    rgba(129, 57, 63, 1) 0%,
    rgba(250, 104, 84, 1) 100%
  );
  --text-gradient: linear-gradient(
    90deg,
    rgba(108, 122, 163, 1) 0%,
    rgba(154, 157, 170, 1) 100%
  );
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Figtree", "Noto Sans Thai", "Kanit", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: white;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.25);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}
#logo-site{
  cursor: pointer;
  user-select: none;
}
nav {
  display: inline-flex;
  margin-right: 20px;
}
nav li {
  list-style: none;
  margin: 0 10px;
  padding: 0 5px;
  position: relative;
  z-index: 99;
}
nav li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: white;
}
/* Animation Nav */
nav li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0;
  background-color: var(--orange-color);
  width: 100%;
  height: 0;
  z-index: -1;
  transition: height 0.2s ease;
}
nav li:hover::after,
nav li.actived::after {
  height: 4px;
  transition: height 0.2s ease;
}

/* Button Header contacts */
header button {
  color: white;
  padding: 8px 20px;
  border: 1px solid var(--orange-color);
  background: transparent;
  cursor: pointer;
}
header button:hover {
  background-color: var(--orange-color);
}

/* Banner */
#banner {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto -60px auto;
  padding: 80px 20px 0 20px;
}
#banner > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
#banner h1,
#banner p {
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}
#banner h1 {
  font-weight: 700;
  font-size: 38px;
}
#banner h1 b {
  color: var(--orange-color);
}
#banner p {
  font-size: 20px;
}
#banner p br{
  display: none;
}

#banner button {
  font-size: 14px;
  font-weight: 500;
  color: white;

  background: var(--gradient-orange-color);
  border: 0;
  padding: 10px 45px;
  margin-top: 30px;
  cursor: pointer;
}
#banner button:hover {
  transform: scale(105%);
}

#banner img {
  user-select: none;
  pointer-events: none;
}

/* Package Prices */
.container-prices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.container-prices > div {
  padding: 50px 25px 40px 25px;
  background-color: #121b36;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25),
    inset 0px 0px 3px rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  position: relative;
  margin-top: 20px;
}
.container-prices > div p {
  font-weight: 700;
  font-size: 24px;
  color: white;
  text-align: center;
}
.container-prices > div small {
  font-weight: 500;
  font-size: 14px;
  color: var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.container-prices > div ul {
  padding-left: 25px;
}
.container-prices > div li {
  list-style: url(./source/check-circle-fill.svg);
  padding-left: 5px;
}
.container-prices .recommended {
  background-color: var(--orange-color);
  color: white;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 10px 35px;
  transform: translate(-50%, -50%);
  user-select: none;
}

/* Portfolio */
#portfolio .container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 50px 0 35px 0;
}
#portfolio .container-title p:nth-child(1) {
  font-weight: 700;
  font-size: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#portfolio .container-title p:nth-child(1)::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--orange-color);
  margin-right: 10px;
}
#portfolio .container-title p:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  color: var(--orange-color);
}

#portfolio .container-title button {
  font-weight: 600;
  font-size: 12px;
  color: white;
  padding: 8px 20px;
  border: 1px solid var(--orange-color);
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
#portfolio .container-title button:hover {
  background-color: var(--orange-color);
}

/* Recent works */
.container-recent-works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.container-recent-works .items-recent-works {
  position: relative;
}
.container-recent-works .items-recent-works .container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.container-recent-works .items-recent-works .container-img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(235deg, #9c4749 0%, #20295f 100%);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: all 0.3s ease;
}
.container-recent-works .items-recent-works .before-item {
  font-weight: 500;
  font-size: 14px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
}
/* Animation */
.container-recent-works .items-recent-works a:hover .before-item,
.container-recent-works .items-recent-works a:hover::after {
  opacity: 1;
  transition: all 0.3s ease;
}
.container-recent-works .items-recent-works a:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

.container-recent-works .items-recent-works img {
  max-width: 100%;
}

/* Recent works texts */
.container-recent-works .items-recent-works > p:nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  margin-top: 15px;
}
.container-recent-works .items-recent-works > p:nth-child(3) {
  font-weight: 400;
  font-size: 14px;
  color: var(--orange-color);
  margin-bottom: 10px;
}

/* Why Vanillacode */
#why-us .title br{
  display: none;
}
.container-why-us {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  flex-wrap: nowrap;
  padding: 30px 0 20px 0;
}
.container-why-us .contents {
  width: max-content;
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 50px;
}
/* Scrollbar design */
.container-why-us::-webkit-scrollbar-thumb {
  background: var(--bg-color);
}
.container-why-us::-webkit-scrollbar {
  height: 7px;
}
.container-why-us:hover::-webkit-scrollbar-thumb {
  background: var(--orange-color);
}

.container-why-us .contents > div {
  padding: 60px 30px 30px 30px;
  background: #121b36;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25),
    inset 0px 0px 3px rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
  width: 350px;
}
.container-why-us .contents .icon-float {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 30px;
  width: 60px;
  height: 55px;
  transform: translateY(-25%);
  background-color: var(--orange-color);
}
.container-why-us .contents .icon-float i {
  font-size: 35px;
}
.container-why-us .contents > div p:nth-child(2) {
  font-weight: 800;
  font-size: 24px;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}

/* FAQ */
#faq {
  width: 100%;
  max-width: 700px;
}
#faq ul {
  cursor: pointer;
  padding: 0;
}
#faq .question {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 400;
  font-size: 16px;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid var(--orange-color);
}
#faq .question i {
  color: var(--orange-color);
  font-size: 26px;
}
#faq .desc {
  color: white;
  border: 0px solid var(--orange-color);
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;
}
/* Action desc */
#faq ul.actived .desc {
  height: 120px;
  border: 1px solid var(--orange-color);
  transition: height 0.5s ease-in-out;
}

#faq .desc li {
  list-style: none;
  padding: 20px;
}
#faq .desc a {
  color: white;
}

/* Action FAQ */
#faq ul.actived .desc {
  /* height: 120px; */
  border: 1px solid var(--orange-color);
  transition: all 0.5s ease-in-out;
}
#faq ul.actived .question {
  background-color: var(--orange-color);
}
#faq ul.actived .question i {
  color: white;
  transform: rotate(45deg);
}

/* Contact-us */
#contact-us div {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 300px;
  margin: 0 auto;
}
#contact-us div a {
  text-align: center;
  text-decoration: none;
}
#contact-us div a p:nth-child(2) {
  font-weight: 700;
  font-size: 20px;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
}
#contact-us div a p:nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  color: white;
}

/* Footer */
footer {
  font-size: 12px;
  background-color: black;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}

/* elements */
section {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 35px;
}
.title {
  font-weight: 800;
  font-size: 38px;
  text-align: center;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin: 40px 0 30px 0;

  transform: translateY(15px);
  opacity: 0;
  transition: all .3s ease;
}
.title.actived {
  transform: translateY(0);
  opacity: 1;
  transition: all .3s ease;
}

/* Sidebar */
#sidebar {
  display: none;
}
#sidebar button {
  border: 0;
}
#sidebar .toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.25);
  z-index: 999;
}
#sidebar .container-solid {
  position: relative;
  width: 100%;
  height: 100%;
}
#sidebar .container-solid span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--bg-color);
  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -4px);
  transition: all 0.3s ease;
}
#sidebar .container-solid span:nth-child(1) {
  transform: translate(-50%, 4px);
}
/* Active toggle */
#sidebar .toggle.actived span {
  transition: all 0.3s ease;
  background-color: var(--orange-color);
}
#sidebar .toggle.actived span:nth-child(1) {
  transform: translate(-50%, 0) rotate(45deg);
}
#sidebar .toggle.actived span:nth-child(2) {
  transform: translate(-50%, 0) rotate(-45deg);
}
/* #sidebar */
#sidebar ul {
  position: fixed;
  top: 0;
  right: -110%;
  width: 300px;
  height: 100%;
  max-width: 100%;
  padding-top: 100px;

  background-color: var(--orange-color);
  z-index: 99;

  transition: all 0.5s ease-in;
}
#sidebar ul li {
  list-style: none;
  padding: 10px 0;
}
#sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
/* actived sidebar */
#sidebar ul.actived {
  right: 0;
  transition: all 0.3s ease;
}
/* Sidebar softlight */
#sidebar .soft-light-bg {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
  overflow-y: hidden;
}

/* Scrollbar design */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--orange-color);
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #9c4749;
}

@media screen and (max-width: 1100px) {
  header {
    display: none;
  }
  #banner {
    display: flex;
    justify-content: flex-end;
    margin: 50px auto -30px auto;
    padding: 0 40px 0 40px;
    position: relative;
  }
  #banner > div {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0 20px;
    transform: translateY(-50%);
  }
  #banner img {
   max-width: 100%;
  }
  #sidebar {
    display: block;
  }
  #price-section > div {
    overflow-x: scroll;
    padding-bottom: 60px;
  }
  #price-section > div::-webkit-scrollbar {
    height: 7px;
  }
  #price-section .container-prices {
    width: max-content;
  }
  #price-section .container-prices > div {
    width: 350px;
    height: 100%;
  }
  section {
    padding-left: 10px;
    padding-right: 10px;
  }
  #workflow{
    padding-top: 0;
  }
}
@media screen and (max-width: 426px){
  #banner{
    margin-bottom: -20px;
  }
  #banner p{
    font-size: 16px;
  }
  #banner p br{
    display: block;
  }
  .container-prices > div{
    padding: 40px 25px 20px 25px;
  }
  #portfolio .container-title{
    flex-wrap: wrap;
   justify-content: flex-end;
   margin: 30px 0 15px 0;
  }
  #portfolio .container-title > div{
    width: 100%;
  }
  #portfolio .container-title a{
    margin-top: 10px;
  }
  .container-recent-works{
    grid-template-columns: 1fr;
  }
  #why-us .title br{
    display: block;
  }
  section{
    padding-top: 20px;
  }
  .container-why-us .contents{
    gap: 20px;
  }
  .container-why-us .contents > div{
    width: 280px;
  }
}